<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input id="first_name" placeholder="first_name" formControlName="first_name" class="form-control">
    </div>
    <div class="form-group">
      <input id="last_name" placeholder="last_name" formControlName="last_name" class="form-control">
    </div>
    <div class="form-group">
      <input id="email" placeholder="email" formControlName="email" class="form-control">
    </div>
    <div class="form-group">
      <input id="contact_number" placeholder="contact_number" formControlName="contact_number" class="form-control">
    </div>
    <div class="form-group">
        <input id="gender" placeholder="gender" formControlName="employee_id" class="form-control">
    </div>
    <div class="form-group">
      <input id="employee_id" placeholder="employee_id" formControlName="employee_id" class="form-control">
    </div>
    <div class="form-group">
      <input id="password" placeholder="password" formControlName="password" class="form-control">
    </div>
    <div class="form-group">
      <input id="confirm_password" placeholder="confirm_password" formControlName="confirm_password" class="form-control">
    </div>
    <div class="form-group">
      <button id="submit_button" button type="submit">Submit</button>
    </div>
  </form>
</div>